#projects h2{
    background-color: var(--bg-color);
    /* background: linear-gradient(90deg, red 30% , #04010a00 40%); */
      /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
    color: var(--color3);
    box-shadow: var(--shadow);
    overflow: hidden;
    position: relative;
}
#projects h2::before{
    position: absolute;
    content: '';
    background-color: var(--color3);
    box-shadow: 0px 0px 150px 50px var(--color3), -200px -200px 200px 50px var(--color3);
    bottom: 0;
    right: 0;
    border-radius: 50%;
}
#projects h2::after{
    position: absolute;
    content: '';
    background-color: var(--color3);
    box-shadow: 0px 0px 150px 50px var(--color3), 200px 200px 200px 50px var(--color3);
    top: 0;
    left: 0;
    border-radius: 50%;
}



.projects-cont .project{
    background: var(--gradient-card);
    box-shadow: var(--shadow2);
    
}

.top-product{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%);
    padding: 10px 50px;
}
.project-body p{
    color: var(--text-disable);
    font-weight: bold;
    min-height: 100px;
    margin-bottom: 60px;
}
.project-body h3{
    font-size: 1em;
    color: var(--text-disable);

}
.project-body .links{
    width: 100%;
    height: fit-content;
    display: none;
}
.project-body .links a{
    top: 0;
    left: 0;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
}
.project-body .links a:last-child{
    right: 0;
}
.project-body .links a::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--color3);
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: -1;
}



.project-body{
    position: relative;
    height: 70px;
    overflow: hidden;
    transition: height 0.4s ease;
}
.project-body.expanded {
    height: 200px;
}

.project:hover .project-body:not(.expanded) {
  height: 120px;
}
.projects-cont .project:hover .project-body .links{
    display: flex;
}
.project-body.expanded .links{
    display: flex;
}
