.contact-cont{
    margin: 30px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    gap: 30px;
}
.contact-cont h2{
    background-color: var(--bg-color);
    color: var(--color3);
    box-shadow: var(--shadow);
}
.contact-cont .tools-contact{
    width: 80%;
    height: 300px;
    background: var(--bg-color);
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--shadow);
}
.contact-cont .tools-contact .tool{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.tools-contact .tool span{
    color: var(--text-disable);
}
.tools-contact .tool .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: var(--color3);
    color: var(--bg-color);
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
}
.message-contact{
    min-width: 300px;
    width: 60%;
    height: fit-content;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    display: flex;
    padding: 30px;
}
.message-contact form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.message-contact .input input{
    background: var(--bg-color);
    box-shadow: var(--shadow);
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    position: relative;
}
.message-contact .input textarea{
    background: var(--bg-color);
    box-shadow: var(--shadow); 
    border: none;
    padding: 10px;
}
.message-contact .input input:focus{
    /* border: 2px solid var(--color3); */
    transition: .5s;
    box-shadow: 5px 5px 5px 0 var(--color3);
}
.message-contact .input{
    min-width: 300px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 
input[type=number] {
  -moz-appearance: textfield;
}
 */
.message-contact .submit{
    background-color: transparent;
    border: 2px solid var(--color3);
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
    transition: .3s;
}
.message-contact .submit:hover{
    background-color: var(--color3);
    color: var(--bg-color);
    box-shadow: var(--shadow);
}




@media (max-width:760px) {
    .contact-cont .tools-contact{
        flex-direction: column;
        height: fit-content;
        padding: 20px;
        gap: 20px;
    }
}