
body {
  background: var(--bg-color);
  background-blend-mode: overlay;
  background-size: 400% 400%;
  animation: blueShift 15s ease infinite;
  color: var(--text-color);

}
@keyframes blueShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
