@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  /* --bg-color: #bbff00; */
  --bg-color: #0a0a0a;
  --text-color: #f8fafc;
  --text-disable: #6c757d;
  --color1: #0e5fa6;
  --color3: #19cee6;
  --gradient-card: linear-gradient(145deg, rgb(14, 21, 37), rgb(11, 17, 30));
  --linear-gradient: linear-gradient(
    135deg,
    #00ff6630,
    #0c0910,
    #00ff661d,
    #0c0910
  );
  --shadow2: 2px 2px 10px 0 rgba(25, 206, 230, 0.3);
  --card: 222 47% 8%;
  --card-foreground: 210 40% 98%;
  --shadow: 10px 10px 20px 0 #000;
}
section {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
}
h6,
label {
  color: var(--color3);
  display: inline;
  text-shadow: #04010a;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* .gradient-animation{
  background: var(--gradient-card);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
} */

/* @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
